* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #001F3F;
  --secondary-color: #003366;
  --light-color: #ffffff;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('bg-gedung.jpg') no-repeat center center/cover;
}

/* === Overlay  === */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 0;
}


.form-container {
  position: relative;
  z-index: 1;
  /* biar di atas overlay */
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 500px;
  padding: 40px 50px;
  text-align: center;
  animation: fadeIn 0.8s ease;
}


.form-container h2 {
  font-size: 26px;
  color: var(--primary-color);
  margin-bottom: 20px;
  border-bottom: 3px solid var(--primary-color);
  display: inline-block;
  padding-bottom: 5px;
}


.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #d0d0d0;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.form-group input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 6px rgba(0, 28, 244, 0.3);
}


.submit-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}


.error-message {
  display: none;
  font-size: 13px;
  color: red;
  margin-top: 5px;
}


.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.register-link a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* === Animasi Masuk === */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}